/* This is the external style sheet. Write some css rules here. */

#my-container {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;
}

.vis-component {
    border: 1px solid black;
    padding: 5px;
}

.spacer-top {
    margin-top: 20px;
}

.spacer-bottom {
    margin-bottom: 20px; 
}

/* Colour classes*/
.color-tomato {
    background-color:Tomato;
}

.color-orange {
    background-color: Orange;
}

.color-blue {
    background-color: DodgerBlue;
}

.color-green {
    background-color: MediumSeaGreen;
}

.color-violet {
    background-color: Violet;
}
